  .section-footer {
    text-align: center;
    background-color:getColor('secondary-bg-color');

    @media screen and (min-width:1200px) {
      text-align: left;
    }
  }

  .section-footer__box + .section-footer__box {
    margin-top: 60px;

    @media screen and (min-width:768px) {
      margin-top: 0;
    }
  }

  .section-footer__box-third .section-footer__title{
    padding: 0;
  }

  .section-footer__button {
    position:relative;
  }

  .section-footer__title--main {
    margin-bottom: 20px;
  }
  
  .section-footer__box-third {
    margin-left: auto;

    @media screen and (min-width:768px) {
      display:block;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width:1200px) {
    margin-right: 0;
    }
  }
  
  .section-footer__logo {
    color: getColor('white-bg-color');
  
    &:hover {
      color: getColor('accent-color');
    }
  }
  
  .section-footer__logo-accent {
    color: getColor('accent-color');
  }
  
  .section-footer__item:not(last-child) {
    margin-bottom: 9px;
  }
  
  .section-footer__link-white {
    color: getColor('white-bg-color');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      color: getColor('accent-color');
    }
  }
  
  .section-footer__link-gray {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      color: getColor('accent-color');
    }
  }
  
  .section-footer__title--secondary {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-bg-color');
    padding-bottom: 20px;
    padding-top: 12px;
  }
  
  .section-footer__link--icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;
    list-style-type: none;
    text-decoration: none;
    border-radius: 50%;
    fill: getColor('white-bg-color');
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:nth-last-child(-n+3) {
      margin-left: 10px;
    }
  
    &:hover {
      fill: getColor('white-bg-color');
      background-color: getColor('accent-color');
    }
  }

  .section-footer__input {
    padding: 15px;
    height: 50px;
    width:100%;
    margin:20px auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: getColor('secondary-bg-color');

    @media screen and (min-width:768px) {
      width:450px;
    }

    @media screen and (min-width:1200px) {
      width:358px;
      margin-right: 10px;
    }
  }

  .section-footer__button-box {
    position:relative;
  }
  
  .section-footer__text {
    width: 109px;
    padding-left: 28px;
  }
  
  .section-footer__icon-button {
    display: flex;
    position: absolute;
    top: 13px;
    right: 28px;
  }

@media screen and (min-width:768px) {

  .section-footer__container {
    display:flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap:wrap;
  }

  .section-footer__box-first {
    margin-right: 165px;
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width:1200px) {
.section-footer__form {
  display: flex;
  align-items: center;
}
}