  .section-client__icon-box {
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
  }
  
  .section-client__logo {
    display: flex;
    height: 92px;
    width:calc((100% - 60px)/2);
    margin:15px;
    align-items: center;
    justify-content: center;
  
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    list-style-type: none;
    fill: getColor('icon-color');
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
      width:calc((100% - 90px)/3);
    }

    @media screen and (min-width:1200px) {
      width:calc((100% - 180px)/6);
    }
  
    &:hover {
      border: 1px solid getColor('accent-color');
      fill: getColor('accent-color');
    }
  }
